@{
    ViewData["Title"] = "Category Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Welcome to the Category Page!</h1>
    <p>This is a simple ASP.NET MVC application.</p>
    <p>Click the button below to see a message.</p>
    <button id="myButton">Click Me!</button>
    <p id="message" style="display:none;">Hello, this is your message!</p>


    <ul>
        <li>
            <a href="/categories/edit/1">Beverage</a>
        </li>
        <li>
            <a href="/categories/edit/2">Meat</a>
        </li>
    </ul>
</body>
</html>