@using system_mgt.Models;
@model List<Category>;
@{
    ViewData["Title"] = "Category Page";
}

<h1>Categories</h1>

  @if (Model != null && Model.Count > 0)
  {
        <table class="table">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Category Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td>
                            <a asp-controller="Categories" asp-action="Edit" asp-route-id="@category.CategoryId">Edit</a> |
                            <a asp-controller="Categories" asp-action="Delete" asp-route-id="@category.CategoryId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No categories found.</p>
  }
