@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    MY FIRST ASP.NET MVC APPLICATION
    <h1>Welcome to ASP.NET MVC!</h1>
    <p>This is a simple ASP.NET MVC application.</p>
    <p>Click the button below to see a message.</p>
    <button id="myButton">Click Me!</button>
    <p id="message" style="display:none;">Hello, this is your message!</p>


    
</body>
</html>
